<div>
    Dùng để bói 2 người có hợp nhau không? Dont you dare?
    <br><br>
    <form name="formNhap">

        Your name: <input type="text" name="name0" ng-model="user0.name" required>
        <span ng-show="formNhap.name0.$error.required" style="color: red">Tên không được trống</span>
        <br>
        Your date: <input class="form-control input-lg" type="date" required="" ng-model="date0" name="date0">
        <span ng-show="formNhap.date0.$error.required" style="color: red">Ngày không được trống</span>

        <br>
        His/her name: <input type="text" name="name1" ng-model="user1.name" required>
        <span ng-show="formNhap.name1.$error.required" style="color: red">Tên không được trống</span>
        <br>
        His/her date: <input class="form-control input-lg" type="date" required="" ng-model="date1" name="date1">
        <span ng-show="formNhap.date1.$error.required" style="color: red">Ngày không được trống</span>

        <br>
        <button ng-click="calc()">Calculate</button>
        <br>
        <br>
        <br>
        <div style="font-size: 30px; color: deepskyblue">Result: {{comment}}</div>
        <br>
        <div style="font-size: 40px; color: orangered">Score: {{score}}</div>

    </form>
</div>