<div>
    Dùng để liệt kê bạn hợp với ai sinh năm sau ?
    <br><br>
    <form name="formNhap">
        Target year: <input type="number" name="year1" ng-model="targetYear" required>
        <span ng-show="formNhap.year1.$error.required" style="color: red">Năm không được trống</span>
        <br>

        Your name: <input type="text" name="name0" ng-model="user0.name" required>
        <span ng-show="formNhap.name0.$error.required" style="color: red">Tên không được trống</span>
        <br>
        Your day: <input type="number" name="day0" ng-model="user0.day" required>
        <span ng-show="formNhap.day0.$error.required" style="color: red">Ngày không được trống</span>

        Your month: <input type="number" name="month0" ng-model="user0.month" required>
        <span ng-show="formNhap.month0.$error.required" style="color: red">Tháng không được trống</span>

        Your year: <input type="number" name="year0" ng-model="user0.year" required>
        <span ng-show="formNhap.year0.$error.required" style="color: red">Năm không được trống</span>
        <br>
        <br>



        <button ng-click="findLover()">Find lover</button>
        <br>
        <br>
        <br>
        <div ng-repeat="i in loveResult">{{i}}</div>


    </form>
</div>